In [2]:
import pandas as pd
import pygal
import numpy as np
#import libraries

In [3]:
HRD = pd.read_csv('HR_comma_sep.csv')
HRD.head()
#make a varible for the data and show it

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years,sales,salary
0,0.38,0.53,2,157,3,0,1,0,sales,low
1,0.80,0.86,5,262,6,0,1,0,sales,medium
2,0.11,0.88,7,272,4,0,1,0,sales,medium
3,0.72,0.87,5,223,5,0,1,0,sales,low
4,0.37,0.52,2,159,3,0,1,0,sales,low

In [4]:
HRD.columns
#show column names

Index(['satisfaction_level', 'last_evaluation', 'number_project',
       'average_montly_hours', 'time_spend_company', 'Work_accident', 'left',
       'promotion_last_5years', 'sales', 'salary'],
      dtype='object')

In [5]:
count_salary = pd.value_counts(HRD['salary'], sort = True).sort_index()
count_salary
#how many of each salary level occur

high      1237
low       7316
medium    6446
Name: salary, dtype: int64

In [6]:
count_sales = pd.value_counts(HRD['sales'], sort = True).sort_index()
count_sales
#how many of each job title occur

IT             1227
RandD           787
accounting      767
hr              739
management      630
marketing       858
product_mng     902
sales          4140
support        2229
technical      2720
Name: sales, dtype: int64

In [7]:
count_tsc = pd.value_counts(HRD['time_spend_company'], sort = True).sort_index()
count_tsc
#how many people work at each year point

2     3244
3     6443
4     2557
5     1473
6      718
7      188
8      162
10     214
Name: time_spend_company, dtype: int64

In [8]:
HRD.describe()
#summary data

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years
count,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000,14999.000000
mean,0.612834,0.716102,3.803054,201.050337,3.498233,0.144610,0.238083,0.021268
std,0.248631,0.171169,1.232592,49.943099,1.460136,0.351719,0.425924,0.144281
min,0.090000,0.360000,2.000000,96.000000,2.000000,0.000000,0.000000,0.000000
25%,0.440000,0.560000,3.000000,156.000000,3.000000,0.000000,0.000000,0.000000
50%,0.640000,0.720000,4.000000,200.000000,3.000000,0.000000,0.000000,0.000000
75%,0.820000,0.870000,5.000000,245.000000,4.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,7.000000,310.000000,10.000000,1.000000,1.000000,1.000000

In [9]:
HRD.groupby('salary').mean()
#means of each number column broken down by salary level

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years
salary,,,,,,,,
high,0.637470,0.704325,3.767179,199.867421,3.692805,0.155214,0.066289,0.058205
low,0.600753,0.717017,3.799891,200.996583,3.438218,0.142154,0.296884,0.009021
medium,0.621817,0.717322,3.813528,201.338349,3.529010,0.145361,0.204313,0.028079

In [10]:
HRD.groupby('time_spend_company').mean()
#means of each number column broken down by how mayn years they have been in the company

,satisfaction_level,last_evaluation,number_project,average_montly_hours,Work_accident,left,promotion_last_5years
time_spend_company,,,,,,,
2,0.697078,0.717596,3.687423,200.133169,0.172010,0.016338,0.016646
3,0.626314,0.668721,3.327798,186.632935,0.138910,0.246159,0.020798
4,0.467517,0.767927,4.627689,223.455221,0.124364,0.348064,0.013688
5,0.610305,0.813666,4.519348,222.978955,0.116090,0.565513,0.011541
6,0.603440,0.754875,4.213092,212.051532,0.149025,0.291086,0.023677
7,0.635957,0.682766,3.851064,200.744681,0.138298,0.000000,0.191489
8,0.665062,0.711975,3.777778,193.802469,0.271605,0.000000,0.061728
10,0.655327,0.731495,3.682243,199.224299,0.233645,0.000000,0.074766

In [11]:
HRD.groupby('sales').mean()
#means of each number column broken down into job title

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years
sales,,,,,,,,
IT,0.618142,0.716830,3.816626,202.215974,3.468623,0.133659,0.222494,0.002445
RandD,0.619822,0.712122,3.853875,200.800508,3.367217,0.170267,0.153748,0.034307
accounting,0.582151,0.717718,3.825293,201.162973,3.522816,0.125163,0.265971,0.018253
hr,0.598809,0.708850,3.654939,198.684709,3.355886,0.120433,0.290934,0.020298
management,0.621349,0.724000,3.860317,201.249206,4.303175,0.163492,0.144444,0.109524
marketing,0.618601,0.715886,3.687646,199.385781,3.569930,0.160839,0.236597,0.050117
product_mng,0.619634,0.714756,3.807095,199.965632,3.475610,0.146341,0.219512,0.000000
sales,0.614447,0.709717,3.776329,200.911353,3.534058,0.141787,0.244928,0.024155
support,0.618300,0.723109,3.803948,200.758188,3.393001,0.154778,0.248991,0.008973
technical,0.607897,0.721099,3.877941,202.497426,3.411397,0.140074,0.256250,0.010294

In [12]:
bar = pygal.Bar()
bar.title = 'Time spent in company Histogram'
bar.add('Frequency', count_tsc)
bar.x_labels = map (str,(2, 3, 4, 5, 6, 7, 8, 10))
bar.render_to_file('histogram_tsc.svg')
#bar graph of the time spent in company broken by how many of each occurance

In [13]:
bar = pygal.Bar()
bar.title = 'Job in company Histogram'
bar.add('Frequency', count_sales)
bar.x_labels = map (str, ('IT', 'RandD', 'accounting', 'hr', 'management', 'marketing', 'product_mng', 'sales', 'support', 'technical'))
bar.render_to_file('histogram_sales.svg')
#bar graph of the job title in the company broken by how many of each occurance

In [14]:
bar = pygal.Bar()
bar.title = 'Salary in company Histogram'
bar.add('Frequency', count_salary)
bar.x_labels = map (str,(2, 3, 4, 5, 6, 7, 8, 10))
bar.render_to_file('histogram_salary.svg')
#bar graph of the salary breakdown broken by how many of each occurance

In [34]:
HRD.groupby(['salary', 'sales']).mean()
#break down of the data by salary and job titles then taking the mean of each number column

                    satisfaction_level  last_evaluation  number_project  \
salary sales
high   IT                     0.638193         0.716627        3.867470
       RandD                  0.586667         0.700588        3.764706
       accounting             0.614054         0.724595        3.905405
       hr                     0.673111         0.743778        3.888889
       management             0.653333         0.715822        3.777778
       marketing              0.605250         0.663625        3.425000
       product_mng            0.614118         0.665735        3.705882
       sales                  0.648959         0.699814        3.858736
       support                0.655035         0.714113        3.794326
       technical              0.625970         0.699453        3.651741
low    IT                     0.610099         0.715665        3.794745
       RandD                  0.623929         0.714176        3.804945
       accounting             0.574162         0.713883        3.801676
       hr                     0.608657         0.717821        3.692537
       management             0.610722         0.712833        3.777778
       marketing              0.602910         0.727587        3.751244
       product_mng            0.620909         0.725831        3.824834
       sales                  0.600838         0.709247        3.757980
       support                0.591710         0.719494        3.787086
       technical              0.594322         0.723367        3.910350
medium IT                     0.624187         0.718187        3.833645
       RandD                  0.620349         0.711694        3.913978
       accounting             0.583642         0.720299        3.832836
       hr                     0.580306         0.696100        3.590529
       management             0.597867         0.741111        4.008889
       marketing              0.638218         0.714495        3.675532
       product_mng            0.619112         0.710418        3.804178
       sales                  0.625327         0.711778        3.785553
       support                0.645149         0.728854        3.825902
       technical              0.620968         0.722180        3.878814

                    average_montly_hours  time_spend_company  Work_accident  \
salary sales
high   IT                     194.927711            3.072289       0.048193
       RandD                  199.745098            3.529412       0.176471
       accounting             205.905405            3.216216       0.202703
       hr                     209.066667            2.911111       0.088889
       management             200.248889            5.164444       0.160000
       marketing              185.575000            3.512500       0.162500
       product_mng            194.632353            3.617647       0.191176
       sales                  201.178439            3.550186       0.137546
       support                203.985816            3.219858       0.219858
       technical              200.044776            3.313433       0.149254
low    IT                     201.382594            3.438424       0.146141
       RandD                  198.747253            3.381868       0.195055
       accounting             199.899441            3.438547       0.111732
       hr                     202.456716            3.259701       0.137313
       management             200.744444            3.411111       0.166667
       marketing              204.487562            3.527363       0.154229
       product_mng            201.048780            3.434590       0.150776
       sales                  200.363030            3.464030       0.126251
       support                198.900524            3.484293       0.151832
       technical              203.064869            3.397230       0.142128
medium IT                     204.295327            3.564486       0.132710
       RandD                  202.954301            3.330645       0.145161
       accounting             201.465672            3.680597       0.122388
       hr                     193.863510            3.501393       0.108635
       management             202.653333            4.155556       0.164444
       marketing              196.869681            3.627660       0.167553
       product_mng            199.637076            3.498695       0.133159
       sales                  201.520316            3.614560       0.160835
       support                202.535032            3.307856       0.148620
       technical              202.248474            3.445510       0.136007

                        left  promotion_last_5years
salary sales
high   IT           0.048193               0.000000
       RandD        0.078431               0.019608
       accounting   0.067568               0.081081
       hr           0.133333               0.044444
       management   0.004444               0.200000
       marketing    0.112500               0.062500
       product_mng  0.088235               0.000000
       sales        0.052045               0.044610
       support      0.056738               0.000000
       technical    0.124378               0.004975
low    IT           0.282430               0.003284
       RandD        0.151099               0.008242
       accounting   0.276536               0.005587
       hr           0.274627               0.005970
       management   0.327778               0.038889
       marketing    0.313433               0.027363
       product_mng  0.232816               0.000000
       sales        0.332063               0.009528
       support      0.339442               0.006108
       technical    0.275510               0.008746
medium IT           0.181308               0.001869
       RandD        0.166667               0.061828
       accounting   0.298507               0.017910
       hr           0.325905               0.030641
       management   0.137778               0.075556
       marketing    0.180851               0.071809
       product_mng  0.227154               0.000000
       sales        0.170993               0.038375
       support      0.167728               0.013800
       technical    0.256321               0.013078

In [36]:
hr = HRD['sales'].map(lambda x: x.startswith('hr'))
#looks at 'sales' and returns true is hr
high = HRD['salary'].map(lambda x: x.startswith('high'))
#looks at 'salary' and returns true is high

In [40]:
HRD[hr].groupby('salary').mean()
#shows the mean of each number column by hr and salary

,satisfaction_level,last_evaluation,number_project,average_montly_hours,time_spend_company,Work_accident,left,promotion_last_5years
salary,,,,,,,,
high,0.673111,0.743778,3.888889,209.066667,2.911111,0.088889,0.133333,0.044444
low,0.608657,0.717821,3.692537,202.456716,3.259701,0.137313,0.274627,0.005970
medium,0.580306,0.696100,3.590529,193.863510,3.501393,0.108635,0.325905,0.030641